/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  /* border: red 1px solid; */
  background-color: #35654d;
  color: white;
  font-family: 'Lora', serif;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 200px;
}

button {
  background-color: #fffdd0;
  color: black;
  border-radius: 20px;
  height: 20%;
  transition: 300ms;
}

button:hover{
  background-color: red;
  transition: 300ms;
  color: white;
}
